/* Base16 Atelier Lakeside Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
._def pre .comment,
._def pre .quote {
  color: #5a7b8c;
}

/* Atelier-Lakeside Red */
._def pre .variable,
._def pre .template-variable,
._def pre .attribute,
._def pre .tag,
._def pre .name,
._def pre .regexp,
._def pre .link,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class {
  color: #d22d72;
}

/* Atelier-Lakeside Orange */
._def pre .number,
._def pre .meta,
._def pre .built_in,
._def pre .builtin-name,
._def pre .literal,
._def pre .type,
._def pre .params {
  color: #935c25;
}

/* Atelier-Lakeside Green */
._def pre .string,
._def pre .symbol,
._def pre .bullet {
  color: #568c3b;
}

/* Atelier-Lakeside Blue */
._def pre .title,
._def pre .section {
  color: #257fad;
}

/* Atelier-Lakeside Purple */
._def pre .keyword,
._def pre .selector-tag {
  color: #6b6bb8;
}

._def .highlight {
  display: block;
  overflow-x: auto;
  color: #516d7b;
  background: #ebf8ff;
  padding: 0.5em;
}

._def pre{
  color: #516d7b;
  background: #ebf8ff;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
