/*

Brown Paper style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background:#b7a68e url(./brown-papersq.png);
}

._def pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background:#b7a68e url(./brown-papersq.png);
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal {
  color:#005599;
  font-weight:bold;
}

._def .highlight,
._def pre .subst {
  color: #363c69;
}

._def pre {
  color: #363c69;
}

._def pre .string,
._def pre .title,
._def pre .section,
._def pre .type,
._def pre .attribute,
._def pre .symbol,
._def pre .bullet,
._def pre .built_in,
._def pre .addition,
._def pre .variable,
._def pre .template-tag,
._def pre .template-variable,
._def pre .link,
._def pre .name {
  color: #2c009f;
}

._def pre .comment,
._def pre .quote,
._def pre .meta,
._def pre .deletion {
  color: #802022;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal,
._def pre .doctag,
._def pre .title,
._def pre .section,
._def pre .type,
._def pre .name,
._def pre .strong {
  font-weight: bold;
}

._def pre .emphasis {
  font-style: italic;
}
