/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #444;
}

._def pre{
  background: #444;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal,
._def pre .section,
._def pre .link {
  color: white;
}

._def .highlight,
._def pre .subst {
  color: #ddd;
}

._def pre {
  color: #ddd;
}

._def pre .string,
._def pre .title,
._def pre .name,
._def pre .type,
._def pre .attribute,
._def pre .symbol,
._def pre .bullet,
._def pre .built_in,
._def pre .addition,
._def pre .variable,
._def pre .template-tag,
._def pre .template-variable {
  color: #d88;
}

._def pre .comment,
._def pre .quote,
._def pre .deletion,
._def pre .meta {
  color: #777;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal,
._def pre .title,
._def pre .section,
._def pre .doctag,
._def pre .type,
._def pre .name,
._def pre .strong {
  font-weight: bold;
}

._def pre .emphasis {
  font-style: italic;
}
