/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #fff;
}

._def pre{
  color: #333;
  background: #fff;
}

._def pre .comment,
._def pre .quote {
  color: #777;
  font-style: italic;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .subst {
  color: #333;
  font-weight: bold;
}

._def pre .number,
._def pre .literal {
  color: #777;
}

._def pre .string,
._def pre .doctag,
._def pre .formula {
  color: #333;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC) repeat;
}

._def pre .title,
._def pre .section,
._def pre .selector-id {
  color: #000;
  font-weight: bold;
}

._def pre .subst {
  font-weight: normal;
}

._def pre .class ._def pre .title,
._def pre .type,
._def pre .name {
  color: #333;
  font-weight: bold;
}

._def pre .tag {
  color: #333;
}

._def pre .regexp {
    color: #333;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==) repeat;
}

._def pre .symbol,
._def pre .bullet,
._def pre .link {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==) repeat;
}

._def pre .built_in,
._def pre .builtin-name {
  color: #000;
  text-decoration: underline;
}

._def pre .meta {
  color: #999;
  font-weight: bold;
}

._def pre .deletion {
  color: #fff;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==) repeat;
}

._def pre .addition {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC) repeat;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
