/*
    Name:     Kimbie (dark)
    Author:   Jan T. Sott
    License:  Creative Commons Attribution-ShareAlike 4.0 Unported License
    URL:      https://github.com/idleberg/Kimbie-highlight.js
*/

/* Kimbie Comment */
._def pre .comment,
._def pre .quote {
  color: #d6baad;
}

/* Kimbie Red */
._def pre .variable,
._def pre .template-variable,
._def pre .tag,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class,
._def pre .regexp,
._def pre .meta {
  color: #dc3958;
}

/* Kimbie Orange */
._def pre .number,
._def pre .built_in,
._def pre .builtin-name,
._def pre .literal,
._def pre .type,
._def pre .params,
._def pre .deletion,
._def pre .link {
  color: #f79a32;
}

/* Kimbie Yellow */
._def pre .title,
._def pre .section,
._def pre .attribute {
  color: #f06431;
}

/* Kimbie Green */
._def pre .string,
._def pre .symbol,
._def pre .bullet,
._def pre .addition {
  color: #889b4a;
}

/* Kimbie Purple */
._def pre .keyword,
._def pre .selector-tag,
._def pre .function {
  color: #98676a;
}

._def .highlight {
  display: block;
  overflow-x: auto;
  color: #d3af86;
  background: #221a0f;
  padding: 0.5em;
}

._def pre{
  color: #d3af86;
  background: #221a0f;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
