/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

._def pre{
  background: #23241f;
}

._def .highlight,
._def pre .tag,
._def pre .subst {
  color: #f8f8f2;
}

._def pre {
  color: #f8f8f2;
}

._def pre .strong,
._def pre .emphasis {
  color: #a8a8a2;
}

._def pre .bullet,
._def pre .quote,
._def pre .number,
._def pre .regexp,
._def pre .literal,
._def pre .link {
  color: #ae81ff;
}

._def pre .code,
._def pre .title,
._def pre .section,
._def pre .selector-class {
  color: #a6e22e;
}

._def pre .strong {
  font-weight: bold;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .name,
._def pre .attr {
  color: #f92672;
}

._def pre .symbol,
._def pre .attribute {
  color: #66d9ef;
}

._def pre .params,
._def pre .class ._def pre .title {
  color: #f8f8f2;
}

._def pre .string,
._def pre .type,
._def pre .built_in,
._def pre .builtin-name,
._def pre .selector-id,
._def pre .selector-attr,
._def pre .selector-pseudo,
._def pre .addition,
._def pre .variable,
._def pre .template-variable {
  color: #e6db74;
}

._def pre .comment,
._def pre .deletion,
._def pre .meta {
  color: #75715e;
}
