/*
  Five-color theme from a single blue hue.
*/
._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eaeef3;
}

._def pre{
  background: #eaeef3;
}

._def .highlight {
  color: #00193a;
}

._def pre {
  color: #00193a;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .title,
._def pre .section,
._def pre .doctag,
._def pre .name,
._def pre .strong {
  font-weight: bold;
}

._def pre .comment {
  color: #738191;
}

._def pre .string,
._def pre .title,
._def pre .section,
._def pre .built_in,
._def pre .literal,
._def pre .type,
._def pre .addition,
._def pre .tag,
._def pre .quote,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class {
  color: #0048ab;
}

._def pre .meta,
._def pre .subst,
._def pre .symbol,
._def pre .regexp,
._def pre .attribute,
._def pre .deletion,
._def pre .variable,
._def pre .template-variable,
._def pre .link,
._def pre .bullet {
  color: #4c81c9;
}

._def pre .emphasis {
  font-style: italic;
}
