/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282b2e;
}

._def pre{
  background: #282b2e;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal,
._def pre .selector-id {
  color: #93c763;
}

._def pre .number {
  color: #ffcd22;
}

._def .highlight {
  color: #e0e2e4;
}

._def pre {
  color: #e0e2e4;
}

._def pre .attribute {
  color: #668bb0;
}

._def pre .code,
._def pre .class ._def pre .title,
._def pre .section {
  color: white;
}

._def pre .regexp,
._def pre .link {
  color: #d39745;
}

._def pre .meta {
  color: #557182;
}

._def pre .tag,
._def pre .name,
._def pre .bullet,
._def pre .subst,
._def pre .emphasis,
._def pre .type,
._def pre .built_in,
._def pre .selector-attr,
._def pre .selector-pseudo,
._def pre .addition,
._def pre .variable,
._def pre .template-tag,
._def pre .template-variable {
  color: #8cbbad;
}

._def pre .string,
._def pre .symbol {
  color: #ec7600;
}

._def pre .comment,
._def pre .quote,
._def pre .deletion {
  color: #818e96;
}

._def pre .selector-class {
  color: #A082BD
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal,
._def pre .doctag,
._def pre .title,
._def pre .section,
._def pre .type,
._def pre .name,
._def pre .strong {
  font-weight: bold;
}
