/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 15px 0.5em 0.5em 30px;
  font-size: 11px;
  line-height:16px;
  background:#f6f6ae url(./school-book.png);
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
}


._def pre{
  background:#f6f6ae url(./school-book.png);
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal {
  color:#005599;
  font-weight:bold;
}

._def .highlight,
._def pre .subst {
  color: #3e5915;
}

._def pre {
  color: #3e5915;
}

._def pre .string,
._def pre .title,
._def pre .section,
._def pre .type,
._def pre .symbol,
._def pre .bullet,
._def pre .attribute,
._def pre .built_in,
._def pre .builtin-name,
._def pre .addition,
._def pre .variable,
._def pre .template-tag,
._def pre .template-variable,
._def pre .link {
  color: #2c009f;
}

._def pre .comment,
._def pre .quote,
._def pre .deletion,
._def pre .meta {
  color: #e60415;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal,
._def pre .doctag,
._def pre .title,
._def pre .section,
._def pre .type,
._def pre .name,
._def pre .selector-id,
._def pre .strong {
  font-weight: bold;
}

._def pre .emphasis {
  font-style: italic;
}
