/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #839496;
  background: #002b36;
}

._def pre{
  color: #839496;
  background: #002b36;
}

._def pre .comment,
._def pre .quote {
  color: #586e75;
}

/* Solarized Green */
._def pre .keyword,
._def pre .selector-tag,
._def pre .addition {
  color: #859900;
}

/* Solarized Cyan */
._def pre .number,
._def pre .string,
._def pre .meta ._def pre .meta-string,
._def pre .literal,
._def pre .doctag,
._def pre .regexp {
  color: #2aa198;
}

/* Solarized Blue */
._def pre .title,
._def pre .section,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
._def pre .attribute,
._def pre .attr,
._def pre .variable,
._def pre .template-variable,
._def pre .class ._def pre .title,
._def pre .type {
  color: #b58900;
}

/* Solarized Orange */
._def pre .symbol,
._def pre .bullet,
._def pre .subst,
._def pre .meta,
._def pre .meta ._def pre .keyword,
._def pre .selector-attr,
._def pre .selector-pseudo,
._def pre .link {
  color: #cb4b16;
}

/* Solarized Red */
._def pre .built_in,
._def pre .deletion {
  color: #dc322f;
}

._def pre .formula {
  background: #073642;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
