/* Tomorrow Night Blue Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
._def pre .comment,
._def pre .quote {
  color: #7285b7;
}

/* Tomorrow Red */
._def pre .variable,
._def pre .template-variable,
._def pre .tag,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class,
._def pre .regexp,
._def pre .deletion {
  color: #ff9da4;
}

/* Tomorrow Orange */
._def pre .number,
._def pre .built_in,
._def pre .builtin-name,
._def pre .literal,
._def pre .type,
._def pre .params,
._def pre .meta,
._def pre .link {
  color: #ffc58f;
}

/* Tomorrow Yellow */
._def pre .attribute {
  color: #ffeead;
}

/* Tomorrow Green */
._def pre .string,
._def pre .symbol,
._def pre .bullet,
._def pre .addition {
  color: #d1f1a9;
}

/* Tomorrow Blue */
._def pre .title,
._def pre .section {
  color: #bbdaff;
}

/* Tomorrow Purple */
._def pre .keyword,
._def pre .selector-tag {
  color: #ebbbff;
}

._def .highlight {
  display: block;
  overflow-x: auto;
  color: white;
  background: #002451;
  padding: 0.5em;
}

._def pre{
  color: white;
  background: #002451;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
