/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #DCDCDC;
  background: #1E1E1E;
}

._def pre{
  color: #DCDCDC;
  background: #1E1E1E;
}

._def pre .keyword,
._def pre .literal,
._def pre .symbol,
._def pre .name {
  color: #569CD6;
}
._def pre .link {
  color: #569CD6;
  text-decoration: underline;
}

._def pre .built_in,
._def pre .type {
  color: #4EC9B0;
}

._def pre .number,
._def pre .class {
  color: #B8D7A3;
}

._def pre .string,
._def pre .meta-string {
  color: #D69D85;
}

._def pre .regexp,
._def pre .template-tag {
  color: #9A5334;
}

._def pre .subst,
._def pre .function,
._def pre .title,
._def pre .params,
._def pre .formula {
  color: #DCDCDC;
}

._def pre .comment,
._def pre .quote {
  color: #57A64A;
  font-style: italic;
}

._def pre .doctag {
  color: #608B4E;
}

._def pre .meta,
._def pre .meta-keyword,
._def pre .tag {
  color: #9B9B9B;
}

._def pre .variable,
._def pre .template-variable {
  color: #BD63C5;
}

._def pre .attr,
._def pre .attribute,
._def pre .builtin-name {
  color: #9CDCFE;
}

._def pre .section {
  color: gold;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}

/*._def pre .code {
  font-family:'Monospace';
}*/

._def pre .bullet,
._def pre .selector-tag,
._def pre .selector-id,
._def pre .selector-class,
._def pre .selector-attr,
._def pre .selector-pseudo {
  color: #D7BA7D;
}

._def pre .addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

._def pre .deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
