
/*
  xt256.css

  Contact: initbar [at] protonmail [dot] ch
         : github.com/initbar
*/

._def .highlight {
  display: block;
  overflow-x: auto;
  color: #eaeaea;
  background: #000;
  padding: 0.5;
}

._def pre{
  color: #eaeaea;
  background: #000;
}

._def pre .subst {
  color: #eaeaea;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}

._def pre .builtin-name,
._def pre .type {
  color: #eaeaea;
}

._def pre .params {
  color: #da0000;
}

._def pre .literal,
._def pre .number,
._def pre .name {
  color: #ff0000;
  font-weight: bolder;
}

._def pre .comment {
  color: #969896;
}

._def pre .selector-id,
._def pre .quote {
  color: #00ffff;
}

._def pre .template-variable,
._def pre .variable,
._def pre .title {
  color: #00ffff;
  font-weight: bold;
}

._def pre .selector-class,
._def pre .keyword,
._def pre .symbol {
  color: #fff000;
}

._def pre .string,
._def pre .bullet {
  color: #00ff00;
}

._def pre .tag,
._def pre .section {
  color: #000fff;
}

._def pre .selector-tag {
  color: #000fff;
  font-weight: bold;
}

._def pre .attribute,
._def pre .built_in,
._def pre .regexp,
._def pre .link {
  color: #ff00ff;
}

._def pre .meta {
  color: #fff;
  font-weight: bolder;
}
