/*

Arduino® Light Theme - Stefania Mellai <s.mellai@arduino.cc>

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #FFFFFF;
}

._def .highlight,
._def pre .subst {
  color: #434f54;
}

._def pre{
  color: #434f54;
  background: #FFFFFF;
}

._def pre .keyword,
._def pre .attribute,
._def pre .selector-tag,
._def pre .doctag,
._def pre .name {
  color: #00979D;
}

._def pre .built_in,
._def pre .literal,
._def pre .bullet,
._def pre .code,
._def pre .addition {
  color: #D35400;
}

._def pre .regexp,
._def pre .symbol,
._def pre .variable,
._def pre .template-variable,
._def pre .link,
._def pre .selector-attr,
._def pre .selector-pseudo {
  color: #00979D;
}

._def pre .type,
._def pre .string,
._def pre .selector-id,
._def pre .selector-class,
._def pre .quote,
._def pre .template-tag,
._def pre .deletion {
  color: #005C5F;
}

._def pre .title,
._def pre .section {
  color: #880000;
  font-weight: bold;
}

._def pre .comment {
  color: rgba(149,165,166,.8);
}

._def pre .meta-keyword {
  color: #728E00;
}

._def pre .meta {
  color: #728E00;
  color: #434f54;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}

._def pre .function {
  color: #728E00;
}

._def pre .number {
  color: #8A7B52;
}
