/*
Date: 17.V.2011
Author: pumbur <pumbur@pumbur.net>
*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
}

._def .highlight,
._def pre .subst {
  color: #aaa;
}

._def pre {
  color: #aaa;
  background: #222;
}

._def pre .section {
  color: #fff;
}

._def pre .comment,
._def pre .quote,
._def pre .meta {
  color: #444;
}

._def pre .string,
._def pre .symbol,
._def pre .bullet,
._def pre .regexp {
  color: #ffcc33;
}

._def pre .number,
._def pre .addition {
  color: #00cc66;
}

._def pre .built_in,
._def pre .builtin-name,
._def pre .literal,
._def pre .type,
._def pre .template-variable,
._def pre .attribute,
._def pre .link {
  color: #32aaee;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class {
  color: #6644aa;
}

._def pre .title,
._def pre .variable,
._def pre .deletion,
._def pre .template-tag {
  color: #bb1166;
}

._def pre .section,
._def pre .doctag,
._def pre .strong {
  font-weight: bold;
}

._def pre .emphasis {
  font-style: italic;
}
