/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: black;
  background: white;
}

._def pre {
  color: black;
  background: white;
}

._def pre .string,
._def pre .variable,
._def pre .template-variable,
._def pre .symbol,
._def pre .bullet,
._def pre .section,
._def pre .addition,
._def pre .attribute,
._def pre .link {
  color: #888;
}

._def pre .comment,
._def pre .quote,
._def pre .meta,
._def pre .deletion {
  color: #ccc;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .section,
._def pre .name,
._def pre .type,
._def pre .strong {
  font-weight: bold;
}

._def pre .emphasis {
  font-style: italic;
}
