/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

._def pre{
  color: #abb2bf;
  background: #282c34;
}

._def pre .comment,
._def pre .quote {
  color: #5c6370;
  font-style: italic;
}

._def pre .doctag,
._def pre .keyword,
._def pre .formula {
  color: #c678dd;
}

._def pre .section,
._def pre .name,
._def pre .selector-tag,
._def pre .deletion,
._def pre .subst {
  color: #e06c75;
}

._def pre .literal {
  color: #56b6c2;
}

._def pre .string,
._def pre .regexp,
._def pre .addition,
._def pre .attribute,
._def pre .meta-string {
  color: #98c379;
}

._def pre .built_in,
._def pre .class ._def pre .title {
  color: #e6c07b;
}

._def pre .attr,
._def pre .variable,
._def pre .template-variable,
._def pre .type,
._def pre .selector-class,
._def pre .selector-attr,
._def pre .selector-pseudo,
._def pre .number {
  color: #d19a66;
}

._def pre .symbol,
._def pre .bullet,
._def pre .link,
._def pre .meta,
._def pre .selector-id,
._def pre .title {
  color: #61aeee;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}

._def pre .link {
  text-decoration: underline;
}
