/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
}

._def pre{
  background: #fff;
}

._def .highlight,
._def pre .subst {
  color: #000;
}

._def pre {
  color: #000;
}

._def pre .string,
._def pre .meta,
._def pre .symbol,
._def pre .template-tag,
._def pre .template-variable,
._def pre .addition {
  color: #756bb1;
}

._def pre .comment,
._def pre .quote {
  color: #636363;
}

._def pre .number,
._def pre .regexp,
._def pre .literal,
._def pre .bullet,
._def pre .link {
  color: #31a354;
}

._def pre .deletion,
._def pre .variable {
  color: #88f;
}



._def pre .keyword,
._def pre .selector-tag,
._def pre .title,
._def pre .section,
._def pre .built_in,
._def pre .doctag,
._def pre .type,
._def pre .tag,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class,
._def pre .strong {
  color: #3182bd;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .attribute {
  color: #e6550d;
}
