/*

Darcula color scheme from the JetBrains family of IDEs

*/


._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
}

._def pre{
  background: #2b2b2b;
}

._def .highlight {
  color: #bababa;
}

._def pre {
  color: #bababa;
}

._def pre .strong,
._def pre .emphasis {
  color: #a8a8a2;
}

._def pre .bullet,
._def pre .quote,
._def pre .link,
._def pre .number,
._def pre .regexp,
._def pre .literal {
  color: #6896ba;
}

._def pre .code,
._def pre .selector-class {
  color: #a6e22e;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .section,
._def pre .attribute,
._def pre .name,
._def pre .variable {
  color: #cb7832;
}

._def pre .params {
  color: #b9b9b9;
}

._def pre .string {
  color: #6a8759;
}

._def pre .subst,
._def pre .type,
._def pre .built_in,
._def pre .builtin-name,
._def pre .symbol,
._def pre .selector-id,
._def pre .selector-attr,
._def pre .selector-pseudo,
._def pre .template-tag,
._def pre .template-variable,
._def pre .addition {
  color: #e0c46c;
}

._def pre .comment,
._def pre .deletion,
._def pre .meta {
  color: #7f7f7f;
}
