/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff;
}

._def pre{
  color: #000;
  background: #f8f8ff;
}

._def pre .comment,
._def pre .quote {
  color: #408080;
  font-style: italic;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal,
._def pre .subst {
  color: #954121;
}

._def pre .number {
  color: #40a070;
}

._def pre .string,
._def pre .doctag {
  color: #219161;
}

._def pre .selector-id,
._def pre .selector-class,
._def pre .section,
._def pre .type {
  color: #19469d;
}

._def pre .params {
  color: #00f;
}

._def pre .title {
  color: #458;
  font-weight: bold;
}

._def pre .tag,
._def pre .name,
._def pre .attribute {
  color: #000080;
  font-weight: normal;
}

._def pre .variable,
._def pre .template-variable {
  color: #008080;
}

._def pre .regexp,
._def pre .link {
  color: #b68;
}

._def pre .symbol,
._def pre .bullet {
  color: #990073;
}

._def pre .built_in,
._def pre .builtin-name {
  color: #0086b3;
}

._def pre .meta {
  color: #999;
  font-weight: bold;
}

._def pre .deletion {
  background: #fdd;
}

._def pre .addition {
  background: #dfd;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
