/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

._def .highlight {
  display: block;  
  padding: 0.5em;
  color: #333333;
  background: white;
  overflow-x: auto;
}

._def pre {
  color: #333333;
  background: white;
}

._def pre .comment,
._def pre .meta {
  color: #969896;
}

._def pre .string,
._def pre .variable,
._def pre .template-variable,
._def pre .strong,
._def pre .emphasis,
._def pre .quote {
  color: #df5000;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .type {
  color: #a71d5d;
}

._def pre .literal,
._def pre .symbol,
._def pre .bullet,
._def pre .attribute {
  color: #0086b3;
}

._def pre .section,
._def pre .name {
  color: #63a35c;
}

._def pre .tag {
  color: #333333;
}

._def pre .title,
._def pre .attr,
._def pre .selector-id,
._def pre .selector-class,
._def pre .selector-attr,
._def pre .selector-pseudo {
  color: #795da3;
}

._def pre .addition {
  color: #55a532;
  background-color: #eaffea;
}

._def pre .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

._def pre .link {
  text-decoration: underline;
}
