/*

Gruvbox style (dark) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282828;
}

._def pre{
  background: #282828;
}

._def .highlight,
._def pre .subst {
  color: #ebdbb2;
}

._def pre {
  color: #ebdbb2;
}

/* Gruvbox Red */
._def pre .deletion,
._def pre .formula,
._def pre .keyword,
._def pre .link,
._def pre .selector-tag {
  color: #fb4934;
}

/* Gruvbox Blue */
._def pre .built_in,
._def pre .emphasis,
._def pre .name,
._def pre .quote,
._def pre .strong,
._def pre .title,
._def pre .variable {
  color: #83a598;
}

/* Gruvbox Yellow */
._def pre .attr,
._def pre .params,
._def pre .template-tag,
._def pre .type {
  color: #fabd2f;
}

/* Gruvbox Purple */
._def pre .builtin-name,
._def pre .doctag,
._def pre .literal,
._def pre .number {
  color: #8f3f71;
}

/* Gruvbox Orange */
._def pre .code,
._def pre .meta,
._def pre .regexp,
._def pre .selector-id,
._def pre .template-variable {
  color: #fe8019;
}

/* Gruvbox Green */
._def pre .addition,
._def pre .meta-string,
._def pre .section,
._def pre .selector-attr,
._def pre .selector-class,
._def pre .string,
._def pre .symbol {
  color: #b8bb26;
}

/* Gruvbox Aqua */
._def pre .attribute,
._def pre .bullet,
._def pre .class,
._def pre .function,
._def pre .function ._def pre .keyword,
._def pre .meta-keyword,
._def pre .selector-pseudo,
._def pre .tag {
  color: #8ec07c;
}

/* Gruvbox Gray */
._def pre .comment {
  color: #928374;
}

/* Gruvbox Purple */
._def pre .link_label,
._def pre .literal,
._def pre .number {
  color: #d3869b;
}

._def pre .comment,
._def pre .emphasis {
  font-style: italic;
}

._def pre .section,
._def pre .strong,
._def pre .tag {
  font-weight: bold;
}
