/*
Description: Magula style for highligh.js
Author: Ruslan Keba <rukeba@gmail.com>
Website: http://rukeba.com/
Version: 1.0
Date: 2009-01-03
Music: Aphex Twin / Xtal
*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background-color: #f4f4f4;
}

._def .highlight,
._def pre .subst {
  color: black;
}

._def pre {
  color: black;
  background-color: #f4f4f4;
}

._def pre .string,
._def pre .title,
._def pre .symbol,
._def pre .bullet,
._def pre .attribute,
._def pre .addition,
._def pre .variable,
._def pre .template-tag,
._def pre .template-variable {
  color: #050;
}

._def pre .comment,
._def pre .quote {
  color: #777;
}

._def pre .number,
._def pre .regexp,
._def pre .literal,
._def pre .type,
._def pre .link {
  color: #800;
}

._def pre .deletion,
._def pre .meta {
  color: #00e;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .doctag,
._def pre .title,
._def pre .section,
._def pre .built_in,
._def pre .tag,
._def pre .name {
  font-weight: bold;
  color: navy;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
