/* Ocean Dark Theme */
/* https://github.com/gavsiu */
/* Original theme - https://github.com/chriskempson/base16 */

/* Ocean Comment */
._def pre .comment,
._def pre .quote {
  color: #65737e;
}

/* Ocean Red */
._def pre .variable,
._def pre .template-variable,
._def pre .tag,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class,
._def pre .regexp,
._def pre .deletion {
  color: #bf616a;
}

/* Ocean Orange */
._def pre .number,
._def pre .built_in,
._def pre .builtin-name,
._def pre .literal,
._def pre .type,
._def pre .params,
._def pre .meta,
._def pre .link {
  color: #d08770;
}

/* Ocean Yellow */
._def pre .attribute {
  color: #ebcb8b;
}

/* Ocean Green */
._def pre .string,
._def pre .symbol,
._def pre .bullet,
._def pre .addition {
  color: #a3be8c;
}

/* Ocean Blue */
._def pre .title,
._def pre .section {
  color: #8fa1b3;
}

/* Ocean Purple */
._def pre .keyword,
._def pre .selector-tag {
  color: #b48ead;
}

._def .highlight {
  display: block;
  overflow-x: auto;
  color: #c0c5ce;
  background: #2b303b;
  padding: 0.5em;
}

._def pre{
  color: #c0c5ce;
  background: #2b303b;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
