/*

PureBASIC native IDE style ( version 1.0 - April 2016 )

by Tristano Ajmone <tajmone@gmail.com>

Public Domain

NOTE_1:	PureBASIC code syntax highlighting only applies the following classes:
			._def pre .comment
			._def pre .function
			._def pre .keywords
			._def pre .string
			._def pre .symbol

		Other classes are added here for the benefit of styling other languages with the look and feel of PureBASIC native IDE style.
		If you need to customize a stylesheet for PureBASIC only, remove all non-relevant classes -- PureBASIC-related classes are followed by
		a "--- used for PureBASIC ... ---" comment on same line.

NOTE_2:	Color names provided in comments were derived using "Name that Color" online tool:
			http://chir.ag/projects/name-that-color
*/

._def .highlight { /* Common set of rules required by highlight.js (don'r remove!) */
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #FFFFDF; /* Half and Half (approx.) */
/* --- Uncomment to add PureBASIC native IDE styled font!
	font-family: Consolas;
*/
}

._def pre{
  background: #FFFFDF;
}

._def .highlight, /* --- used for PureBASIC base color --- */
._def pre .type,  /* --- used for PureBASIC Procedures return type --- */
._def pre .function, /* --- used for wrapping PureBASIC Procedures definitions --- */
._def pre .name,
._def pre .number,
._def pre .attr,
._def pre .params,
._def pre .subst {
	color: #000000; /* Black */
}

._def pre {
  color: #000000;
}

._def pre .comment, /* --- used for PureBASIC Comments --- */
._def pre .regexp,
._def pre .section,
._def pre .selector-pseudo,
._def pre .addition {
	color: #00AAAA; /* Persian Green (approx.) */
}

._def pre .title, /* --- used for PureBASIC Procedures Names --- */
._def pre .tag,
._def pre .variable,
._def pre .code  {
	color: #006666; /* Blue Stone (approx.) */
}

._def pre .keyword, /* --- used for PureBASIC Keywords --- */
._def pre .class,
._def pre .meta-keyword,
._def pre .selector-class,
._def pre .built_in,
._def pre .builtin-name {
	color: #006666; /* Blue Stone (approx.) */
	font-weight: bold;
}

._def pre .string, /* --- used for PureBASIC Strings --- */
._def pre .selector-attr {
	color: #0080FF; /* Azure Radiance (approx.) */
}

._def pre .symbol, /* --- used for PureBASIC Constants --- */
._def pre .link,
._def pre .deletion,
._def pre .attribute {
	color: #924B72; /* Cannon Pink (approx.) */
}

._def pre .meta,
._def pre .literal,
._def pre .selector-id {
	color: #924B72; /* Cannon Pink (approx.) */
	font-weight: bold;
}

._def pre .strong,
._def pre .name {
	font-weight: bold;
}

._def pre .emphasis {
	font-style: italic;
}
