/*

Style with support for rainbow parens

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #d1d9e1;
  background: #474949;
}

._def pre{
  color: #d1d9e1;
  background: #474949;
}

._def pre .comment,
._def pre .quote {
  color: #969896;
  font-style: italic;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .literal,
._def pre .type,
._def pre .addition {
  color: #cc99cc;
}

._def pre .number,
._def pre .selector-attr,
._def pre .selector-pseudo {
  color: #f99157;
}

._def pre .string,
._def pre .doctag,
._def pre .regexp {
  color: #8abeb7;
}

._def pre .title,
._def pre .name,
._def pre .section,
._def pre .built_in {
  color: #b5bd68;
}

._def pre .variable,
._def pre .template-variable,
._def pre .selector-id,
._def pre .class ._def pre .title {
   color: #ffcc66;
}

._def pre .section,
._def pre .name,
._def pre .strong {
  font-weight: bold;
}

._def pre .symbol,
._def pre .bullet,
._def pre .subst,
._def pre .meta,
._def pre .link {
  color: #f99157;
}

._def pre .deletion {
  color: #dc322f;
}

._def pre .formula {
  background: #eee8d5;
}

._def pre .attr,
._def pre .attribute {
  color: #81a2be;
}

._def pre .emphasis {
  font-style: italic;
}
