/*

 highlight.js style for Microtik RouterOS script

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}

._def pre{
  background: #F0F0F0;
}

/* Base color: saturation 0; */

._def .highlight,
._def pre .subst {
  color: #444;
}

._def pre {
  color: #444;
}

._def pre .comment {
  color: #888888;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .meta-keyword,
._def pre .doctag,
._def pre .name {
  font-weight: bold;
}

._def pre .attribute {
  color: #0E9A00;
}

._def pre .function {
  color: #99069A;
}

._def pre .builtin-name {
  color: #99069A;
}

/* User color: hue: 0 */

._def pre .type,
._def pre .string,
._def pre .number,
._def pre .selector-id,
._def pre .selector-class,
._def pre .quote,
._def pre .template-tag,
._def pre .deletion {
  color: #880000;
}

._def pre .title,
._def pre .section {
  color: #880000;
  font-weight: bold;
}

._def pre .regexp,
._def pre .symbol,
._def pre .variable,
._def pre .template-variable,
._def pre .link,
._def pre .selector-attr,
._def pre .selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

._def pre .literal {
  color: #78A960;
}

._def pre .built_in,
._def pre .bullet,
._def pre .code,
._def pre .addition {
  color: #0C9A9A;
}


/* Meta color: hue: 200 */

._def pre .meta {
  color: #1f7199;
}

._def pre .meta-string {
  color: #4d99bf;
}


/* Misc effects */

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
