/*

Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

*/

._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #f8f8f8;
  background: #000;
}

._def pre{
  color: #f8f8f8;
  background: #000;
}

._def pre .comment,
._def pre .quote {
  color: #aeaeae;
  font-style: italic;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .type {
  color: #e28964;
}

._def pre .string {
  color: #65b042;
}

._def pre .subst {
  color: #daefa3;
}

._def pre .regexp,
._def pre .link {
  color: #e9c062;
}

._def pre .title,
._def pre .section,
._def pre .tag,
._def pre .name {
  color: #89bdff;
}

._def pre .class ._def pre .title,
._def pre .doctag {
  text-decoration: underline;
}

._def pre .symbol,
._def pre .bullet,
._def pre .number {
  color: #3387cc;
}

._def pre .params,
._def pre .variable,
._def pre .template-variable {
  color: #3e87e3;
}

._def pre .attribute {
  color: #cda869;
}

._def pre .meta {
  color: #8996a8;
}

._def pre .formula {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}

._def pre .addition {
  background-color: #253b22;
  color: #f8f8f8;
}

._def pre .deletion {
  background-color: #420e09;
  color: #f8f8f8;
}

._def pre .selector-class {
  color: #9b703f;
}

._def pre .selector-id {
  color: #8b98ab;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
