/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
._def pre .comment,
._def pre .quote {
  color: #8e908c;
}

/* Tomorrow Red */
._def pre .variable,
._def pre .template-variable,
._def pre .tag,
._def pre .name,
._def pre .selector-id,
._def pre .selector-class,
._def pre .regexp,
._def pre .deletion {
  color: #c82829;
}

/* Tomorrow Orange */
._def pre .number,
._def pre .built_in,
._def pre .builtin-name,
._def pre .literal,
._def pre .type,
._def pre .params,
._def pre .meta,
._def pre .link {
  color: #f5871f;
}

/* Tomorrow Yellow */
._def pre .attribute {
  color: #eab700;
}

/* Tomorrow Green */
._def pre .string,
._def pre .symbol,
._def pre .bullet,
._def pre .addition {
  color: #718c00;
}

/* Tomorrow Blue */
._def pre .title,
._def pre .section {
  color: #4271ae;
}

/* Tomorrow Purple */
._def pre .keyword,
._def pre .selector-tag {
  color: #8959a8;
}

._def .highlight {
  display: block;
  overflow-x: auto;
  color: #4d4d4c;
  background: white;
  padding: 0.5em;
}

._def pre {
  color: #4d4d4c;
  background: white;
}

._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
