/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
._def .highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: black;
  background: white;
}

._def pre {
  color: black;
  background: white;
}

._def pre .comment,
._def pre .quote,
._def pre .variable {
  color: #008000;
}

._def pre .keyword,
._def pre .selector-tag,
._def pre .built_in,
._def pre .name,
._def pre .tag {
  color: #00f;
}

._def pre .string,
._def pre .title,
._def pre .section,
._def pre .attribute,
._def pre .literal,
._def pre .template-tag,
._def pre .template-variable,
._def pre .type,
._def pre .addition {
  color: #a31515;
}

._def pre .deletion,
._def pre .selector-attr,
._def pre .selector-pseudo,
._def pre .meta {
  color: #2b91af;
}

._def pre .doctag {
  color: #808080;
}

._def pre .attr {
  color: #f00;
}

._def pre .symbol,
._def pre .bullet,
._def pre .link {
  color: #00b0e8;
}


._def pre .emphasis {
  font-style: italic;
}

._def pre .strong {
  font-weight: bold;
}
