.highlight {
    --highlight-deletion: #008000;
    --highlight-addition: #800000;
    --highlight-background: #000000;
    --highlight-current-line: #2a2a2a;
    --highlight-selection: #424242;
    --highlight-foreground: #eaeaea;
    --highlight-comment: #969896;
    --highlight-red: #d54e53;
    --highlight-orange: #e78c45;
    --highlight-yellow: #e7c547;
    --highlight-green: #b9ca4a;
    --highlight-aqua: #70c0b1;
    --highlight-blue: #7aa6da;
    --highlight-purple: #c397d8;
    --highlight-gutter-color: #666666;
    --highlight-gutter-bg-color: #292929;
}