.highlight {
    --highlight-deletion: #008000;
    --highlight-addition: #800000;
    --highlight-background: #1d1f21;
    --highlight-current-line: #282a2e;
    --highlight-selection: #373b41;
    --highlight-foreground: #c5c8c6;
    --highlight-comment: #969896;
    --highlight-red: #cc6666;
    --highlight-orange: #de935f;
    --highlight-yellow: #f0c674;
    --highlight-green: #b5bd68;
    --highlight-aqua: #8abeb7;
    --highlight-blue: #81a2be;
    --highlight-purple: #b294bb;
    --highlight-gutter-color: #888f96;
    --highlight-gutter-bg-color: #000000;
}