.highlight {
    --highlight-deletion: #fdd;
    --highlight-addition: #dfd;
    --highlight-background: #f7f7f7;
    --highlight-current-line: #efefef;
    --highlight-selection: #d6d6d6;
    --highlight-foreground: #4d4d4c;
    --highlight-comment: #8e908c;
    --highlight-red: #c82829;
    --highlight-orange: #f5871f;
    --highlight-yellow: #eab700;
    --highlight-green: #718c00;
    --highlight-aqua: #3e999f;
    --highlight-blue: #4271ae;
    --highlight-purple: #8959a8;
    --highlight-gutter-color: #888f96;
    --highlight-gutter-bg-color: #eff2f3;
}

